<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Souk{% endblock %}</title>
        {% block stylesheets %}
            <!--===============================================================================================-->
            <link rel="icon" type="image/png" href="{{ asset('front/images/icons/favicon.png') }}"/>
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/vendor/bootstrap/css/bootstrap.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/fonts/themify/themify-icons.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/fonts/elegant-font/html-css/style.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/vendor/animate/animate.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/vendor/css-hamburgers/hamburgers.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/vendor/animsition/css/animsition.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/vendor/select2/select2.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/vendor/daterangepicker/daterangepicker.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/vendor/slick/slick.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/vendor/lightbox2/css/lightbox.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('front/css/util.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('front/css/main.css') }}">
            <!--===============================================================================================-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="animsition">

    {% include ':component:header.html.twig' %}
    {% block body %}

    {% endblock %}
    {% include':component:footer.hmtl.twig' %}

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
