<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <div class="p-1">
                                        <img src="{{ asset('back/app-assets/images/logo/logo-dark.png') }}"
                                             alt="branding logo">
                                    </div>
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                    <span>Register with Modern</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    {% trans_default_domain 'FOSUserBundle' %}

                                    <form class="form-horizontal form-simple"
                                          action="{{ path('fos_user_registration_register') }}" method="post"
                                          novalidate>
                                        <input type="hidden" id="fos_user_registration_form__token"
                                               name="fos_user_registration_form[_token]"
                                               value="{{ csrf_token('registration') }}">

                                        <fieldset class="form-group position-relative has-icon-left mb-1">
                                            <input type="email" class="form-control form-control-lg input-lg"
                                                   name="fos_user_registration_form[email]" placeholder="Votre e-mail"
                                                   required aria-invalid="false">
                                            <div class="form-control-position">
                                                <i class="ft-mail"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left mb-1">
                                            <input type="text" class="form-control form-control-lg input-lg"
                                                   name="fos_user_registration_form[username]" placeholder="Nom d'utilisateur"
                                                   aria-invalid="false">
                                            <div class="form-control-position">
                                                <i class="ft-user-check"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left mb-1">
                                            <input type="text" class="form-control form-control-lg input-lg"
                                                   name="fos_user_registration_form[name]" placeholder="Nom complet"
                                                   aria-invalid="false" required>
                                            <div class="form-control-position">
                                                <i class="ft-user"></i>
                                            </div>
                                        </fieldset>

                                        <fieldset class="form-group position-relative has-icon-left mb-1">
                                            <input type="password" class="form-control form-control-lg input-lg"
                                                   name="fos_user_registration_form[plainPassword][first]"
                                                   id="user-password"
                                                   placeholder="Mot de passe" required
                                                   aria-invalid="false">
                                            <div class="form-control-position">
                                                <i class="fa fa-key"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" class="form-control form-control-lg input-lg"
                                                   name="fos_user_registration_form[plainPassword][second]"
                                                   id="user-password" placeholder="Vérification mot de passe" required
                                                   aria-invalid="false">
                                            <div class="form-control-position">
                                                <i class="fa fa-key"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left radio">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="text-bold-700">
                                                        Vous êtes ?
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                            <label class="text-bold-700">
                                                <input class="form-control form-control-lg" type="radio" name="role" value="ROLE_ACHETEUR" checked> Acheteur
                                            </label>
                                                </div>
                                                <div class="col-sm-4">
                                            <label class="text-bold-700">
                                                <input class="form-control form-control-lg" type="radio" name="role" value="ROLE_VENDEUR"> Vendeur
                                            </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                            <div class="col-md-12 col-12 text-center text-md-left">
                                                <fieldset>
                                                    <p class="text-danger">
                                                         {{ form_errors(form) }}
                                                    </p>
                                                </fieldset>
                                            </div>

                                        <button type="submit" class="btn btn-info btn-lg btn-block"><i
                                                    class="ft-unlock"></i> {{ 'registration.submit'|trans }}</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="">
                                    <p class="text-center">Vous avez un compte déjà ? <a
                                                href="{{ path('fos_user_security_login') }}" class="card-link">S'authentifier</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
